body {
  background-color: rgb(196, 196, 196);
}

.user-img {
  height: 100px;
  width: 100px;
  display: inline-block;
}

.user-info-container {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(235, 232, 232);
}

.details {
  display: inline-block;
  vertical-align: top;
}

.gun-img {
  height: 100px;
  width: 100px;
  display: inline-block;
}

.gun-info-container {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(235, 232, 232);
}
